body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  background-color: #fafafa;
  color: #4d4d4d;
}

#logo {
  width: 153px;
  height: 55px;
  background: url('../images/ui/logo.png');
  margin: 10px auto;
}

#login_form_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  margin-top: -102px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #CCCCCC;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -webkit-box-shadow: 0 0 5px #CCCCCC;  
}

form#login_form {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
}

form#login_form .field {
  margin: 10px 0;
}

form#login_form .field input[type="password"],
form#login_form .field input[type="text"] {
  width: 95%;
  padding: 5px 3px;
  border: 0;
  border-bottom: 1px solid #CCCCCC;
}

form#login_form .field input[type="password"]:focus,
form#login_form .field input[type="text"]:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid #00aad4;
}

